name: CI

on:
  push:
    branches: [main]
    paths:
      - Containerfile
  schedule:
    # Run container image build on first day of each month
    - cron: '0 0 1 * *'
jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          file: Containerfile
          push: true
          tags: breed808/toolbox:43
